<!DOCTYPE html>
<head>
    <title>Audio Test</title>
    <script type="text/javascript" src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script type='text/javascript' src="jquery.min.js"></script> 
    <script type="text/javascript" src="brobots.js"></script>




</head>
<body>
    <center>
    <button onclick="test4Ints()"> Driver </button>
    <button onclick="test2Ints()"> Gripper </button>
    <button onclick="testBot()">  Bot  </button>
    </center>
</body>
</html>