<!DOCTYPE html>
<head>
    <title><%=USER_TYPE%></title>
    <script type="text/javascript" src="../socket.io/socket.io.js"></script>
    <script type='text/javascript' src="jquery.min.js"></script> 
    <script type="text/javascript" src="brobots.js"></script>




</head>
<body onload="init();">
    <center>
    <button onclick="sendDriveDataToServer()"> Driver </button>
    <button onclick="sendGripDataToServer()"> Gripper </button>

    <h1>Welcome to BroBots! <br>You are the <%=USER_TYPE%>!</h1>
    <div id="connection">WebSocket not connected</div>
    <div id="main" style="text-align:left; visibility:hidden">
      <p>JSON Frame data:</p>
      <div id="output"></div>
    </div>

    </center>
</body>
</html>