<!DOCTYPE html>
<head>
    <title><%=PAGE_TITLE%></title>
    <script type="text/javascript" src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script type='text/javascript' src="jquery.min.js"></script> 
    <script type="text/javascript" src="brobots.js"></script>




</head>
<body>
    <center>
    <button onclick="sendDriveDataToServer()"> Driver </button>
    <button onclick="sendGripDataToServer()"> Gripper </button>
    </center>
</body>
</html>