<!DOCTYPE html>
<head>
    <title>Audio Test</title>
    <script type="text/javascript" src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script type='text/javascript' src="jquery.min.js"></script> 
    <script type="text/javascript" src="audio.js"></script>




</head>
<body>
    <center>
    <button onclick="startSound()"> Play </button>
    <button onclick="stopSound()"> Stop </button>
    <button onclick="volumeUp()">  +  </button>
    <button onclick="volumeDown()">  -  </button>
    </center>
</body>
</html>